@use '../../styles/abstracts' as *;

.header {
  padding: 20px;
  border-bottom: 1px solid $black;
}

.search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerBottom {
  padding-top: 30px;
  display: flex;
  gap: 15px;
  font-size: $fs-secondary;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}

.filters {
  border-top: 1px solid $black-light;
  padding: 10px 0 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  flex-wrap: wrap;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}


.categories a {
  text-decoration: none;
  color: $black;
  font-size: $fs-primary;
}

.active {
  background: brown;
}

.dark {
  border-bottom: 1px solid $white;
  background: $brown;

  input {
    border: 5px solid $white;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  button {
    color: $white;
  }

  ul {
    li {
      a {
        color: $white;
      }
    }
  }
}


@media (max-width: $mobile) {
  .headerBottom {
    font-size: $fs-media;
  }

  .categories {
    display: block;
  }
}